@use '../../styles/colors';
@use '../../styles/mixins';

.header {
  background: linear-gradient(90deg, colors.$secondary 29.8%, colors.$primary 29.8% 70.2%);
  padding: 96px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;

  @include mixins.laptop {
    padding-top: 120px;
    gap: 90px;
  }

  @include mixins.big-tablet {
    padding-top: 90px;
    gap: 50px;
  }

  @include mixins.tablet {
    background: linear-gradient(180deg, colors.$secondary 29.8%, colors.$primary 29.8% 70.2%);
    flex-direction: column;
  }

  @include mixins.tablet {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.container {
  width: 1400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 200px;

  @include mixins.desktop {
    width: calc(100% - 10rem);
    margin-inline: auto;
  }

  @include mixins.tablet {
    gap: 120px;
  }

  @include mixins.small-tablet {
    width: calc(100% - 5rem);
  }
}

.avatar {
  margin: 0;
  z-index: 1;
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid colors.$white;;
  border-radius: 25px;

  @include mixins.desktop {
    width: 300px;
    height: 300px;
  }

  @include mixins.big-tablet {
    width: 250px;
    height: 250px;
  }

  @include mixins.tablet {
    width: 300px;
    height: 300px;
  }

  @include mixins.small-tablet {
    border: none;
    width: 85%;
    height: 350px;
  }

  @include mixins.phone {
    height: 300px;
  }

  &_shapes {
    position: absolute;
    left: -164px;
    top: -81px;
    z-index: -1;
    width: 649px;
    height: 484px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('./media/avatar_shapes.svg');
  
    @include mixins.desktop {
      left: -140px;
      top: -70px;
      width: 500px;
      height: 400px;
    }

    @include mixins.big-tablet {
      left: -110px;
      top: -30px;
      width: 400px;
      height: 280px;
    }

    @include mixins.tablet {
      left: -140px;
      top: -70px;
      width: 500px;
      height: 400px;
    }

    @include mixins.small-tablet {
      display: none;
    }
  }

  &_image {
    width: inherit;
    display: block;
    height: inherit;
    margin-top: -6%;
    margin-left: -10%;    
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    // background-position-y: center;
    background-image: url('./media/handsome_boy.png');
  
    @include mixins.small-tablet {
      margin: 0;
      width: 100%;
      background-size: cover;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mixins.tablet {
    padding: 0px 16px;
  }

  &_heading {
    @include mixins.font-inconsolata-bold;
    font-size: 4.8rem;
    color: colors.$secondary;
    width: 216px;
  }

  &_desc {
    @include mixins.font-inter-regular;
    font-size: 2.4rem;
    color: colors.$white;
    width: 445px;

    @include mixins.laptop {
      width: 400px;
    }

    @include mixins.big-tablet {
      width: 350px;
    }

    @include mixins.tablet {
      width: 90%;
    }
  }

  &_highlights {
    display: flex;
    align-items: flex-start;
    gap: 64px;

    @include mixins.laptop {
      gap: 48px;
    }

    @include mixins.big-tablet {
      gap: 32px;
    }

    li {
      @include mixins.hero-highlights-font;
      max-width: 160px;

      @include mixins.small-laptop {
        font-size: 1.8rem;
      }
    }
  }

  &_btn {
    @include mixins.button;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mixins.laptop {
    gap: 64px;
  }

  @include mixins.small-tablet {
    gap: 48px;
  }
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;

  &_info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mixins.small-tablet {
      gap: 16px;
    }

    &_designed_header {
      position: relative;

      svg {
        circle {
          fill: colors.$secondary;
        }
      }
    }
  }

  &_heading {
    @include mixins.font-inconsolata-bold;
    color: colors.$primary;
    font-size: 9.6rem;

    @include mixins.small-tablet {
      font-size: 7.5rem;
    }

    @include mixins.phone {
      font-size: 5.5rem;
    }

    &_svg {
      position: absolute;
      left: 190px;
      top: 17px;
      z-index: -1;

      @include mixins.small-laptop {
        left: 18em;
        top: 0.6em;
      }

      @include mixins.small-tablet {
        left: 15em;
        top: -2.4em;
      }

      @include mixins.phone {
        display: none;
      }
    }
  }

  &_text {
    @include mixins.font-inter-regular;
    font-size: 2.4rem;
    line-height: 140%;
    color: colors.$black;
    max-width: 630px;

    @include mixins.small-tablet {
      font-size: 2.2rem;
      line-height: 160%;
    }

    @include mixins.phone {
      font-size: 2rem;
    }
  }

  &_decoration {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;

    @include mixins.tablet {
      display: none;
    }

    &.design {
      margin-right: 230px;
      background-image: url('./media/design_decoration.svg');
      width: 396px;
      height: 163px;

      @include mixins.laptop {
        margin: 0;
      }
    }

    &.web {
      margin-left: 200px;
      background-image: url('./media/web_dev_decoration.svg');
      width: 262.8px;
      height: 203.92px;

      @include mixins.laptop {
        margin: 0;
      }
    }

    &.mobile {
      margin-right: 410px;
      background-image: url('./media/mobile_decoration.svg');
      width: 225.29px;
      height: 197px;

      @include mixins.laptop {
        margin: 0;
      }
    }
  }
}

.skills {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &_image {
    height: 220px;
  }

  &_heading {
    @include mixins.font-inter-regular;
    font-size: 3.2rem;
    text-transform: capitalize;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}