.header {
  background: linear-gradient(90deg, #EFC173 29.8%, #6667AB 29.8% 70.2%);
  padding: 96px 0px;
}

.section {
  margin: 0 auto;
  width: 1400px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
}