@use "../../styles/colors";
@use "../../styles/mixins";

.container {
  width: 100%;
  display: flex;
  gap: 16px;

  @include mixins.tablet {
    flex-direction: column-reverse;
  }
}

.image_wrapper {
  flex-basis: 40%;
  overflow: hidden;

  @include mixins.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    min-height: 200px;
    box-shadow: 0 0 10px 0 colors.$beige;
    transition: all 0.15s ease-in-out;

    @include mixins.tablet {
      max-width: 90%;
      height: auto;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_top {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    background-color: colors.$secondary;

    @include mixins.small-laptop {
      padding: 24px;
    }

    @include mixins.phone {
      padding: 16px;
    }
  }

  &_bottom {
    padding: 32px;
    background-color: colors.$primary;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @include mixins.small-laptop {
      padding: 24px;
    }

    @include mixins.phone {
      padding: 16px;
    }

    @include mixins.phone {
      flex-direction: column-reverse;
    }

    &_left {
      flex: 45%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: space-between;
    }

    &_right {
      flex: 50%;

      p {
        font-size: 2.4rem;
        line-height: 140%;
        color: colors.$white;

        @include mixins.small-laptop {
          font-size: 2.2rem;
        }
      }
    }
  }

  &_heading {
    @include mixins.font-inconsolata-bold;
    color: colors.$white;
    font-size: 3.2rem;
    margin-bottom: 16px;
  }

  &_stack {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    @include mixins.big-tablet {
      gap: 8px;
    }

    span {
      border: 1px solid colors.$white;
      color: colors.$white;
      font-size: 1.8rem;
      padding: 8px;

      @include mixins.big-tablet {
        padding: 6px;
      }
    }
  }

  &_links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    a {
      text-decoration: underline;
      font-size: 2.4rem;
      color: colors.$white;
      transition: all 0.25s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 16px;

  h2 {
    @include mixins.font-inconsolata-bold;
    color: colors.$primary;
    font-size: 4rem;
    max-width: 320px;

    @include mixins.phone {
      font-size: 3.5rem;
    }
  }

  span {
    font-size: 2.4rem;
    color: colors.$gray;
    flex-shrink: 0;

    @include mixins.phone {
      font-size: 2.2rem;
    }
  }
}

.subheading {
  width: 60%;
  font-size: 2.4rem;
  color: colors.$black;

  @include mixins.phone {
    width: 100%;
  }
}
