@use './colors';

@mixin font-inconsolata-bold {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

@mixin font-inconsolata-extra-light {
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
}

@mixin font-inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@mixin font-inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

@mixin hero-highlights-font {
  @include font-inter-light;
  font-size: 1.6rem;
  line-height: 140%;
  color: colors.$secondary;
}

@mixin button {
  @include font-inter-regular;
  display: block;
  padding: 8px 32px;
  border: 1px solid colors.$secondary;
  color: colors.$secondary;
  font-size: 2.4rem;
  width: max-content;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: colors.$secondary;
    color: colors.$primary;
  }

  @include small-laptop {
    padding: 8px 24px;
  }
}

@mixin desktop {
  @media (max-width: 1484px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1260px) {
    @content;
  }
}

@mixin small-laptop {
  @media (max-width: 1110px) {
    @content;
  }
}

@mixin big-tablet {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}