@use '../../styles/colors';
@use '../../styles/mixins';

.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  &_beginner {
    background-color: colors.$secondary;
  }

  &_skilled {
    background-color: colors.$primary;
  }
}

.label {
  @include mixins.font-inter-regular;
  color: colors.$gray;
  font-size: 20px;

  &::first-letter {
    text-transform: uppercase;
  }
}