@use '../../styles/colors';
@use '../../styles/mixins';

.container {
  width: 1400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 200px;

  @include mixins.desktop {
    width: calc(100% - 10rem);
    margin-inline: auto;
  }

  @include mixins.tablet {
    gap: 120px;
  }

  @include mixins.small-tablet {
    width: 100%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.computer_footer {
  @include mixins.small-laptop {
    display: none;
  }
}

.mobile_footer {
  display: none;
  
  @include mixins.small-laptop {
    display: block;
  }
}