@use '../../styles/colors';
@use '../../styles/mixins';

.footer {
  background-color: colors.$black;
  padding: 64px 64px 140px 64px;
  position: relative;

  @include mixins.big-tablet {
    padding-bottom: 64px;
  }

  @include mixins.tablet {
    padding-inline: 32px;
  }

  @include mixins.phone {
    padding-inline: 16px;
  }

  &_decoration_left {
    position: absolute;
    left: -50px;
    top: -40px;
    
    svg {
      circle {
        fill: colors.$secondary;
      }
    }

    @include mixins.small-laptop {
      display: none;
    }
  }

  &_decoration_right {
    position: absolute;
    right: -50px;
    bottom: -40px;

    svg {
      circle {
        fill: colors.$primary;
      }
    }

    @include mixins.small-laptop {
      display: none;
    }
  }

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;

    @include mixins.big-tablet {
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }

    .separator {
      display: none;

      @include mixins.big-tablet {
        display: block;
      }
    }

    &_left {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include mixins.big-tablet {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .separator {
          display: none;
        }
      }

      @include mixins.phone {
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px;
      }
    }

    &_right {
      display: flex;
      gap: 60px;

      @include mixins.big-tablet {
        width: 100%;
        justify-content: space-between;
        gap: 48px;
        flex-wrap: wrap;
      }

      @include mixins.small-tablet {
        flex-wrap: wrap;
        justify-content: center;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mixins.small-tablet {
          gap: 24px;
        }

        h4 {
          @include mixins.font-inconsolata-bold;
          font-size: 3.2rem;
          color: colors.$secondary;
          width: 208px;
        }

        p {
          @include mixins.font-inter-regular;
          font-size: 2.4rem;
          color: colors.$white;
          width: 240px;
        }

        a {
          @include mixins.button;
  
          &:hover {
            color: colors.$black;
          }
        }
      }
    }
  }

  &_bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.tablet {
      flex-direction: column-reverse;
      gap: 32px;
    }

    .copyright {
      @include mixins.font-inter-regular;
      font-size: 2.4rem;
      color: colors.$beige;

      @include mixins.phone {
        font-size: 2.2rem;
      }
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mixins.phone {
    gap: 24px;
  }

  &_heading {
    @include mixins.font-inter-regular;
    font-size: 3.2rem;
    color: colors.$beige;

    @include mixins.phone {
      text-align: center;
    }
  }

  &_links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.navlink {
  @include mixins.font-inconsolata-bold;
  font-size: 2.4rem;
  color: colors.$white;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.link {
  @include mixins.font-inter-regular;
  font-size: 2.4rem;
  color: colors.$beige;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.separator {
  display: block;
  height: 1px;
  width: 100%;
  background-color: colors.$gray;
}