.list {
  display: flex;
  align-items: center;
  gap: 32px;

  span {
    display: block;
    width: 40px;
    height: 40px;
    transition: all 0.25s ease-in-out;
    
    &:hover {
      opacity: 0.85;
    }
  }
}