@use './styles/mixins';
@use './styles/colors';

.App {

  &_heading {
    @include mixins.font-inconsolata-bold;
    color: colors.$primary;
    font-size: 3.2rem;
    width: 128px;
    position: fixed;
    left: 40px;
    top: 40px;
  }

  &_preloader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

