@use './styles/mixins';
@use './styles/colors';

.App {
  // display: flex;
  // justify-content: center;
  // min-height: 100vh;
  // width: 100vw;

  &_heading {
    @include mixins.font-inconsolata-bold;
    color: colors.$primary;
    font-size: 32px;
    width: 128px;
    position: fixed;
    left: 40px;
    top: 40px;
  }

  &_navigation_wrapper {
    position: fixed;
    right: 10px;
    top: 10px;
  }
}