@use './styles/colors';
@use './styles/mixins';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: max(8px, min(0.9vw, 10px));
}

body {
  @include mixins.font-inter-regular;
  background-color: colors.$white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: colors.$white;
    border-radius: 1ex;
    padding: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$gray;
    border-inline: 1px solid colors.$white;
    transition: all 0.25s ease-in;

    &:hover {
      background-color: colors.$black;
    }
  }
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}