@use './styles/colors';
@use './styles/mixins';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 10px;
}

body {
  @include mixins.font-inter-regular;
  background-color: colors.$white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: colors.$white;
    border-radius: 1ex;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$gray;
  }
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}